
  *{
     margin: 0%;
  }
  

  .fundo{
      background-color:rgb(204, 222, 231);
      height: 100%;
  }

  .logo{
    margin-left: 3.5%;
    margin-top: -1%;
    float: left;
  }

header{
    width: 100%;
	  height: 10vh;
}



  .menu4{
      color: black;
      margin: 0.5%;
      float: left;
      margin-top: -3%;
      cursor: pointer;
      margin-left: -25%;
  }

  
  .minhaconta1{
      color: black;
      margin-top: -4%;
      margin-left: 90%;
      float: left;
      cursor: pointer;
  }


  .coluna1, .coluna2, .coluna3, .coluna4{
    width: 20%;
    height: 50vh;
    margin-top: 2%;
    margin-left: 4%;
    float: left;
    border-radius: 15%;
    background-color: rgb(230, 125, 189);
  }

  .titulo1{
    text-align: center;
    color: white;
  }

  .paragrafo1{
    text-align: center;
    margin-top: 15%;
    color: white;
  }
  .paragrafo2{
    color: white;
    text-align: center;
  }

   .linhahorizontal2{
    width: 44%;
    height: 50vh;

    float: left;
    margin-top: 2%;
    margin-left: 4%;
  }

  .botoes{
     text-align: center;
     margin-top: 4%;
  }

  .saibamais{
     height: 3%;
     margin-top: 2%;
  }

  .dicas, .saibamais{
    margin-left: 1%;
    background-color: rgb(218, 130, 188);
    margin-top: 2%;
    border-radius: 20%;
 }

  footer{
	width: 100%;
	height: 10vh;
  margin-top: 2%;
	background-color: rgb(204, 222, 231);
	float: left;
  text-align: center;
}


@media (max-width: 960px){

.logo{
  margin-top: -2%;
}

  .menu4{
    margin-left: -60%;
    margin-top: -6%;
}


 .minhaconta1{
        margin-left: 4%;
        float: left;
        margin-top: -6%;
    }

   


    .coluna1, .coluna2, .coluna3, .coluna4, .coluna5, .coluna6{
        width: 40%;
        height: 50vh;
        float: left;
        margin-left: 8%;
      }

      .linhahorizontal2{
        width: 100%;
        height: 50vh;
        background-color: white;
      }
    
      iframe{
        height: 98%;
        width: 88%;
        margin-left: 4%;
      }

      body{
        font-size: 12px;
      }

    
 
    
  
    
    
}